<html>
<head>
<title>Your Secret Text</title>
    <link rel="shortcut icon" type="image/png" href="static/favicon.png"/>
    <h1 style="font-size:60px ; text-align: center;">Your Secret Text</h1>
<style type="text/css">
		body{
			background-image:url(static/bg1.jpg);
			background-size: cover;
			background-attachment: fixed;
		}
      
        	</style>
<pre> <p style="font-size:25px","font-family:'serif'">{{ text }}</p>
</pre> 

  </head>


</html>
<!--curl -X POST -H "Content-Type: text/plain" --data "this is raw data" http://127.0.0.1:5000/webhook -->
